{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "${trust}",
            "Effect": "Allow",
            "Principal": {
                "Service": "events.amazonaws.com"
            },
            "Action": "sts:AssumeRole"
        }
    ]
}